html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #141414;
	color: white;
	font-family: 'Work Sans', sans-serif;
}

button {
	background: none;
    border: 0;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
}

#container {

}

header {
	display: flex;
	height: 50px;
	border: 1px solid white;
}

#logo {
	height: 50px;
	width: 200px;
	border: 1px solid white;
}

#user_menu {
	height: 50px;
	width: 200px;
	border: 1px solid white;
	margin-left: auto;
}

#main_content {
	height: 550px;
	width: 100%;
	border: 1px solid white;
	display: flex;
}

#game_container {
	height: 100%;
	min-width: 900px;
	border: 1px solid white;
	flex: 1;
}

#win_count {
	height: 50px;
	width: 100%;
	border: 1px solid white;
}

.player_displays {
	width: 300px;
	float: left;
	margin-left: 100px;
	margin-top: 50px;
	color: black;
	background-color: white;
}

#computer_display {
	height: 300px;
}

#user_display {
	height: 350px;
}

#user_display_buttons_container {
	height: 50px;
	width: 100%;
	background-color: black;
	margin-top: 300px;
}

.user_display_buttons {
	width: 32.1%;
	height: 50px;
	color: white;
	border: 1px solid white;
}

.user_display_buttons:hover {
	background-color: #171717;
	border: 1px solid #1ABBFC;
}

#sign_up_message {
	height: 50px;
	width: 100%;
	border: 1px solid white;
	margin-top: 445px;
}

#leaderboard {
	height: 100%;
	max-width: 300px;
	border: 1px solid white;
	flex: 1;
}

footer {
	height: 50px;
	width: 100%;
	border: 1px solid white;
}
















